#contents{
  text-align: center;
}

.container {
  width: 70%;
  margin: auto auto 2% auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn {
  background: #82f1f5;
  background-image: -webkit-linear-gradient(top, #82f1f5, #2980b9);
  background-image: -moz-linear-gradient(top, #82f1f5, #2980b9);
  background-image: -ms-linear-gradient(top, #82f1f5, #2980b9);
  background-image: -o-linear-gradient(top, #82f1f5, #2980b9);
  background-image: linear-gradient(to bottom, #82f1f5, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width:20%;


}

.btn:hover {
  background: #13f7c9;
  background-image: -webkit-linear-gradient(top, #13f7c9, #19ddff);
  background-image: -moz-linear-gradient(top, #13f7c9, #19ddff);
  background-image: -ms-linear-gradient(top, #13f7c9, #19ddff);
  background-image: -o-linear-gradient(top, #13f7c9, #19ddff);
  background-image: linear-gradient(to bottom, #13f7c9, #19ddff);
  text-decoration: none;
}
